.navbar {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #333;
}

.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
    font-size: 1.1rem;
}

.navbar-brand img {
    height: 5rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    top: -1px;
    background-size: cover;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.nav-item {
    font-size: 0.9rem;
    padding: 0.25rem 0;
}

.nav-item ::deep .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    line-height: 1;
    width: auto;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        display: flex !important;
        align-items: center;
    }

    .navbar-nav {
        flex-direction: row;
        gap: 0.25rem;
    }

    .nav-item {
        padding: 0;
        margin: 0 0.25rem;
    }

    .nav-item ::deep .nav-link {
        padding: 0.5rem 0.9rem;
        height: auto;
    }
}